#landing {
    margin-top: 20px;
    height: 100vh;
    width: 100%;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center
}

#leftPicture, #rightPicture {
    height: 80vh;
    width: 142vh;
    z-index: 0
}

.leftBlurr {box-shadow: -10px 0 100px 10px black}
.rightBlurr {box-shadow: 10px 0 100px 10px black}

#mainPicture {
    height: 90vh;
    width: 160vh;
    z-index: 1
}

@media only screen and (max-width: 710px) {
    #landing {
        height: min-content;
        margin-top: 50px;
        flex-direction: column;
        align-items: center;
        overflow-y: scroll
    }

    #mainPicture {
        top: 0;
        height: unset;
        width: 100vw
    }
    
    #leftPicture, #rightPicture {display: none}
}