#socialIcons {
    display: flex;
    justify-content: space-evenly;
    width: 55vw;
    margin: 0 auto !important
}

.links:hover, #buyDiv:hover {
    background-color: rgba(0,0,0,0.3)
}

#socialIcons .links {
    height: 80px;
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#socialIcons .links a, #socialIcons .links a img {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    height: 90%;
    margin: 0
}

#buyDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px !important;
    width: 80px !important;
}
#buy {
    text-decoration: none;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px
}
#buy p {
    height: 20px;
    text-align: center;
    color: black
}

@media only screen and (max-width: 710px) {
    #socialIcons {width: 90vw}
    #socialIcons .links {
        height: 60px;
        width: 60px;
    }
    #buyDiv {
        height: 60px !important;
        width: 60px !important;
    }
    #buy p {
        height: 20px;
        text-align: center;
        color: black
    }
}