* { height: 100%; margin: 0; padding: 0;}

@font-face {
    font-family: "gill_sans";
    font-display: swap;
    src: url("./Gill_Sans_Light.ttf")
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

body {
    font-family: "gill_sans", sans-serif;
    color: black;
    background-color: white;
    height: min-content;
    width: 100vw
}

.App {
    width: 100%;
    height: min-content;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center
}

.spacer {height: 30px}
.ready {position: static}
.placeHolder {height: 80vw !important}

#banner {position: relative}
#banner .logo {
    font-size: 24px;
    width: 100px !important;
    height: unset !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2
}

#aboutus, #shows, #music, #contact {
    height: min-content;
    width: 60vw;
    display: flex;
    flex-direction: column;
}
#aboutus div, #shows div, #music div, #contact div {
    text-align: center;
    font-size: 20px;
    margin: 10px
}
#aboutus p, #shows p, #music p, #contact p {
    line-height: 1.5;
    font-size: 20px
}
#shows img, #music img, #contact img {
    width: 80%;
    height: auto;
    margin: 0 auto 10px auto
}
#aboutus div img {
    width: 100%;
    height: auto;
    margin: 0 auto 10px auto
}

#contact p {
    display: flex;
    margin: 10px;
    justify-content: center
}
#contact p a {
    text-decoration: none;
    height: 30px;
    color: inherit;
    font-size: 20px;
}

#contact p a:hover {box-shadow: 0 4px 4px -4px black}

@media only screen and (max-width: 710px) {

    #aboutus, #shows, #music, #contact {width: 90vw}
    #aboutus p, #shows p, #music p, #contact p {text-align: unset}
    #aboutus div img, #shows img, #music img, #contact img {width: 100%}
}