* {margin: 0; padding: 0}

@font-face {
    font-family: "gill_sans";
    font-display: swap;
    src: url("./Gill_Sans_Light.ttf")
}

::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}

body {
    font-family: "gill_sans", sans-serif;
    color: black;
    background-color: white;
    height: min-content;
    width: 100vw
}

.App {
    width: 100%;
    height: min-content;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center
}

.spacer {height: 10px}
.ready {position: static}
.placeHolder {height: 100% !important}

#banner {
    position: relative;
    width: 96%;
    height: 33.75vw;
    margin-bottom: 10px;
    background-color: rgb(56,182,255)
}
#banner img {
    width: 100% !important;
    height: 100% !important
}
#banner .logo {
    font-size: 24px;
    color: white;
    height: auto !important;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 2
}

#aboutus, #social, #music, #contact {
    height: min-content;
    width: 60vw;
    display: flex;
    flex-direction: column
}
#aboutus div, #social div, #music .spacer, #contact div {
    text-align: center;
    font-size: 20px;
    margin: 10px
}
#music .title {
    text-align: center;
    font-size: 20px;
    margin: 10px 10px 0 10px
}
#aboutus p, #social p, #contact p {
    line-height: 1.5;
    font-size: 20px
}
#aboutus p {
    border-left: 4px solid black;
    padding-left: 20px
}
#social img, #contact img {
    width: 100%;
    height: auto;
    margin: 0 auto 10px auto
}
#aboutus div img {
    width: 100%;
    height: auto;
    margin: 0 auto 10px auto
}

#music .singles {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin: 10px 0
}

iframe {
    width: 100%;
    margin: 0 auto
}

#contact p {
    display: flex;
    margin: 10px;
    justify-content: center
}
#contact p a {
    text-decoration: none;
    height: 30px;
    color: inherit;
    font-size: 20px;
}

#contact p a:hover {box-shadow: 0 4px 4px -4px black}

@media only screen and (min-width: 1300px) {
    #aboutus, #social, #music, #contact {width: 80vw}
    #banner {height: 45vw}
    #banner .logo {width: 300px !important}
}
@media only screen and (max-width: 1300px) {
    #aboutus, #social, #music, #contact {width: 70vw}
    #banner {height: 39.4vw}
    #banner .logo {width: 250px !important}
}
@media only screen and (max-width: 1150px) {
    #banner .logo {width: 210px !important}
}
@media only screen and (max-width: 1000px) {
    #aboutus, #social, #music, #contact {width: 80vw}
    #banner {height: 45vw}
    #banner .logo {width: 175px !important}
}
@media only screen and (max-width: 700px) {
    #aboutus, #social, #music, #contact {width: 90vw}
    #banner {height: 50.6vw}
    #banner .logo {width: 150px !important}
}
@media only screen and (max-width: 400px) {
    #aboutus, #social, #music, #contact {width: 95vw}
    #banner {height: 53.4vw}
    #banner .logo {width: 125px !important}
}